body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

#container {
  background-color: #d80404;
  display: grid;
  grid-template-areas: "title" "form-container" "button";
  grid-template-columns:  1fr;
  grid-auto-rows: repeat(3, 33vh);
  height: 100vh;
  width: 100vw;
}

#title {
  grid-area: title;
  min-height: 33.3vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
  color: #feffea;
  font-size: 50px
}

#formContainer {
  grid-area: form-container;
  min-height: 33.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 100%;
  height: 100%;
  min-height: 33.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  font-family: 'Do Hyeon', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#input {
  border: none;
  text-align: center;
  color: #feffea;
  background: #d80404;
  width: 100%;
}

#button {
  grid-area: button;
  min-height: 33.3vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#plane {
  margin-top: -30px;
  width: 150px;
  height: 150px;
  color: #feffea;
}

#plane:hover {
  filter: drop-shadow(0 0 20px white)
}

.plane-enter {
  transform: translateX(-500%) scale(1);
}

.plane-enter-active{
  transform: translateY(0%) scale(1);
  transition: all 500ms ease-out;
}

.plane-exit-active {
  transform: scale(1.25);
}

.plane-exit {
  transform: translateX(500%) scale(1);
  transition: all 500ms ease-in;
}

.flight-input-message {
  font-family: 'Do Hyeon', sans-serif;
  color: #feffea;
  font-size: 30px;
  position: absolute;
  margin-top: -2%;
}

/* NoLocation */

#no-location-container {
  display: flex;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background: #d80404;
  padding: 30px;
}

/* FlightDetails */

#flight-details-container {
  background-color: #d80404;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif;
  align-items: center;
}

#fd-details-and-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#fd-details-and-slider > p {
  font-size: 20px;
}

#fd-leave-at {
  margin-top: 0px;
  font-size: 80px;
  line-height: 0px;
  font-family: 'Do Hyeon', sans-serif;
}

#fd-mins-before {
  margin-top: -5px;
  font-family: 'Do Hyeon', sans-serif;
}

#fd-flight-details {
  line-height: 0px;
  padding-bottom: 50px;
  font-family: 'Do Hyeon', sans-serif;
}

.slider-container {
  width: 85vw;
  padding: 40px 0 40px 0;
}

#fd-map {
  width: 100vw;
}


@media only screen and (max-width: 600px) {
  #container {
    background-color: #d80404;
    display: grid;
    grid-template-areas: "title" "form-container" "button";
    grid-template-columns:  1fr;
    grid-auto-rows: repeat(3, 33vh);
    width: 100vw;
  }

  #title {
    font-size: 25px
  }

  .flight-input-message {
    font-family: 'Do Hyeon', sans-serif;
    color: #feffea;
    font-size: 20px;
    position: absolute;
    margin-top: -7%;
  }

  #plane {
    margin-top: -30px;
    width: 100px;
    height: 100px;
    color: #feffea;
  }

  /* FlightDetails */

  #fd-details-and-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 70px 10px 120px 10px;
  }

  #fd-details-and-slider > p {
    font-size: 16px;
  }

  #fd-leave-at {
    margin-top: 0px;
    font-size: 47px;
    font-family: 'Do Hyeon', sans-serif;
  }

  #fd-mins-before {
    margin-top: -5px;
    font-family: 'Do Hyeon', sans-serif;
  }

  #fd-flight-details {
    line-height: 0px;
    padding-bottom: 50px;
    font-family: 'Do Hyeon', sans-serif;
  }

  .slider-container {
    width: 85vw;
    padding: 40px 0 40px 0;
  }

  #fd-map {
    height: 100vw;
    width: 100vw;
  }
}
